[defaults]
inventory = inventories/voteball
remote_user = ec2-user
private_key_file = ../Voteball-EC2-pem.pem
host_key_checking = False
roles_path = roles
vault_password_file = .vault_pass
nocows = 1
callbacks_enabled = timer
